<h1 align="center">Fase 1 - Data Analysis and Exploration</h1>

## Módulo 01 - Análise Exploratória de Dados

### Aula 3 - Manipulação de Dados

#### 1. Para realizar a análise dos dados, as seguintes bibliotecas foram utilizadas:

* **os**: para manipulação de arquivos.
* **Pandas**: para manipulação e análise dos dados.
* **Matplotlib**: para visualização dos dados.
* **Seaborn**: para visualização dos dados.

In [45]:
#importando as bibliotecas
import os 
import pandas as pd
import matplotlib.pyplot as plt

#### 2. Aquisição dos dados
Os dados utilizados nesta análise foram obtidos a partir do site [DATASUS](https://datasus.saude.gov.br/acesso-a-informacao/producao-hospitalar-sih-sus/), contendo informações detalhadas sobre os valores registrados no momento do atendimento hospitalar. Este dataset reflete os custos estimados no instante em que o paciente é atendido, fornecendo uma visão inicial e imediata dos gastos associados a cada internação. Estes dados são particularmente valiosos para entender a distribuição e o impacto financeiro dos atendimentos em tempo real, auxiliando no planejamento e alocação imediata de recursos nas unidades de saúde.

##### 2.1 Ajuste da Apresentação dos Dados
Para adequar a apresentação dos dados ao padrão brasileiro, onde a vírgula é usada como separador decimal e o ponto como separador de milhar, foi necessário ajustar a formatação de exibição dos valores numéricos. Em Python, por padrão, os números flutuantes são exibidos com o ponto como separador decimal. Para melhorar a legibilidade dos dados e adequar-se às convenções locais, foi utilizado o seguinte código:

In [46]:
# Corrigir o caminho para subir um nível na estrutura de diretórios antes de acessar 'data/raw'
file_path = os.path.join('..', '..', 'data', 'raw', 'sih_cnv_qiuf201539177_212_141_162.csv')

# Carregar o DataFrame a partir do CSV localizado no diretório 'raw'
df_atendimento = pd.read_csv(file_path, encoding='ISO-8859-1', skiprows=3, sep=';', 
                               thousands='.', decimal=',', skipfooter=12, engine='python')



# Ajuste da apresentação dos dados para exibir vírgula como separador decimal
pd.options.display.float_format = lambda x: f'{x:,.2f}'.replace(',', 'X').replace('.', ',').replace('X', '.')

# Exibir as primeiras linhas
df_atendimento.head()

,Unidade da Federação,1992/Mar,1992/Abr,1993/Mai,1993/Dez,1994/Jan,1994/Fev,1994/Mai,1994/Ago,1994/Nov,...,2023/Out,2023/Nov,2023/Dez,2024/Jan,2024/Fev,2024/Mar,2024/Abr,2024/Mai,2024/Jun,Total
0,11 Rondônia,-,-,-,-,-,-,-,-,-,...,"12.517.843,44","12.554.967,21","11.878.718,51","11.395.300,88","9.792.549,16","8.104.206,09","6.275.935,03","4.143.349,11","1.210.876,87","1.446.704.922,33"
1,12 Acre,-,-,-,-,-,-,-,-,-,...,"4.433.998,52","4.436.469,66","4.253.339,65","4.404.809,58","4.478.164,90","4.764.699,46","4.488.757,08","3.406.321,94","1.574.829,36","615.416.604,48"
2,13 Amazonas,-,-,-,-,-,-,-,-,-,...,"17.415.667,58","19.229.221,65","18.603.854,01","21.710.451,55","18.907.790,91","21.767.764,51","19.920.938,48","17.883.906,15","6.915.472,45","2.728.085.655,80"
3,14 Roraima,-,-,-,-,-,-,-,-,-,...,"2.888.659,62","2.930.357,34","3.191.502,58","2.784.557,45","2.113.499,72","1.783.130,45","174.731,35","120.854,25","46.874,26","467.066.312,33"
4,15 Pará,-,-,-,-,-,-,-,-,-,...,"52.858.032,69","58.378.834,51","50.760.448,73","52.655.209,50","51.032.476,18","53.019.044,69","46.891.419,15","34.678.768,60","13.453.260,79","6.589.319.524,97"

#### 3. Análise Exploratória dos Dados

##### 3.1. Entendendo dos Dados
Para iniciar a análise, é importante entender a estrutura dos dados e as informações disponíveis.

In [47]:
df_atendimento.columns

Index(['Unidade da Federação', '1992/Mar', '1992/Abr', '1993/Mai', '1993/Dez',
       '1994/Jan', '1994/Fev', '1994/Mai', '1994/Ago', '1994/Nov',
       ...
       '2023/Out', '2023/Nov', '2023/Dez', '2024/Jan', '2024/Fev', '2024/Mar',
       '2024/Abr', '2024/Mai', '2024/Jun', 'Total'],
      dtype='object', length=326)

##### **Dicionário de Dados**
Um dicionário de dados foi criado para facilitar a compreensão das informações contidas no dataset. As colunas presentes no dataset são:

* **Unidade da Federação**: unidade federativa onde o registro foi lançado.
* **Ano/Mês do Lançamento**: ano e mês em que o registro foi lançado.
* **Total**: O total dos valores de atendimentos iniciais hospitalares (AIH) realizados na unidade federativa.

##### 3.2. Verificação dos Dados
Nesta etapa, foi realizada uma inspeção minuciosa do dataset para assegurar sua integridade e qualidade antes de prosseguir com a análise. A verificação dos dados inclui:

- **Exploração Inicial:** Leitura do dataset para entender a estrutura dos dados, as variáveis disponíveis e o volume de registros.
- **Validação de Consistência:** Verificação de inconsistências, como valores ausentes, duplicações e anomalias que possam impactar a análise.
- **Sumarização Estatística:** Geração de estatísticas descritivas das variáveis para obter uma visão geral das distribuições e identificar possíveis outliers.

In [48]:
# Exibir dados do DataFrame
df_atendimento

,Unidade da Federação,1992/Mar,1992/Abr,1993/Mai,1993/Dez,1994/Jan,1994/Fev,1994/Mai,1994/Ago,1994/Nov,...,2023/Out,2023/Nov,2023/Dez,2024/Jan,2024/Fev,2024/Mar,2024/Abr,2024/Mai,2024/Jun,Total
0,11 Rondônia,-,-,-,-,-,-,-,-,-,...,"12.517.843,44","12.554.967,21","11.878.718,51","11.395.300,88","9.792.549,16","8.104.206,09","6.275.935,03","4.143.349,11","1.210.876,87","1.446.704.922,33"
1,12 Acre,-,-,-,-,-,-,-,-,-,...,"4.433.998,52","4.436.469,66","4.253.339,65","4.404.809,58","4.478.164,90","4.764.699,46","4.488.757,08","3.406.321,94","1.574.829,36","615.416.604,48"
2,13 Amazonas,-,-,-,-,-,-,-,-,-,...,"17.415.667,58","19.229.221,65","18.603.854,01","21.710.451,55","18.907.790,91","21.767.764,51","19.920.938,48","17.883.906,15","6.915.472,45","2.728.085.655,80"
3,14 Roraima,-,-,-,-,-,-,-,-,-,...,"2.888.659,62","2.930.357,34","3.191.502,58","2.784.557,45","2.113.499,72","1.783.130,45","174.731,35","120.854,25","46.874,26","467.066.312,33"
4,15 Pará,-,-,-,-,-,-,-,-,-,...,"52.858.032,69","58.378.834,51","50.760.448,73","52.655.209,50","51.032.476,18","53.019.044,69","46.891.419,15","34.678.768,60","13.453.260,79","6.589.319.524,97"
5,16 Amapá,-,-,-,-,-,-,-,-,-,...,"3.621.900,80","3.263.823,25","3.347.139,90","4.009.875,37","3.499.564,15","4.059.123,00","3.731.018,03","3.793.604,82","2.026.080,76","454.244.659,82"
6,17 Tocantins,-,-,-,-,-,-,-,-,-,...,"10.135.542,98","9.701.812,67","9.632.124,69","9.237.273,45","9.572.666,16","9.753.104,56","8.138.826,15","4.985.743,47","2.319.561,63","1.423.360.586,79"
7,21 Maranhão,-,-,-,-,-,-,-,-,-,...,"41.972.300,25","40.501.098,01","38.004.052,79","41.497.369,48","38.607.311,23","41.885.979,98","37.522.351,20","30.708.318,49","13.741.492,12","5.464.095.395,44"
8,22 Piauí,-,-,-,-,-,-,-,-,-,...,"23.444.748,65","22.259.207,28","21.009.128,47","22.059.611,11","20.423.284,54","22.397.541,19","20.498.973,49","16.867.157,79","9.652.382,49","3.168.311.617,59"
9,23 Ceará,-,-,-,-,-,-,-,-,-,...,"66.820.475,94","63.968.404,99","62.941.872,38","68.104.664,24","63.811.880,19","65.031.493,74","64.193.695,76","47.716.409,58","22.694.949,43","9.201.831.945,25"
10,24 Rio Grande do Norte,-,-,-,-,-,-,-,-,-,...,"27.563.700,89","29.938.094,14","29.627.053,61","29.822.675,77","28.067.199,91","30.877.615,80","29.437.407,10","26.353.416,08","12.848.792,62","3.802.936.007,18"
11,25 Paraíba,-,-,-,-,-,-,-,-,-,...,"33.015.550,52","33.518.859,80","31.273.357,22","33.211.258,17","36.338.002,60","42.187.339,94","44.760.696,72","36.635.624,85","22.086.196,78","3.735.010.631,60"
12,26 Pernambuco,-,-,-,-,-,-,-,-,-,...,"88.194.077,78","86.774.277,81","80.096.762,66","87.154.661,78","81.983.296,27","88.256.016,78","92.833.652,07","88.546.267,22","47.996.539,69","12.011.251.214,44"
13,27 Alagoas,-,-,-,-,-,-,-,-,-,...,"22.360.428,44","20.728.923,95","19.282.678,04","19.888.944,44","18.704.151,60","20.044.125,39","19.761.737,42","16.535.041,95","8.153.371,61","3.022.598.828,02"
14,28 Sergipe,-,-,-,-,-,-,-,-,-,...,"15.746.392,66","15.808.423,43","15.807.434,96","17.140.058,39","14.411.192,67","15.336.115,45","12.049.597,89","6.925.527,91","2.734.076,22","1.784.250.046,90"
15,29 Bahia,-,-,-,-,-,-,-,-,-,...,"103.374.215,51","98.554.035,65","95.459.134,18","101.309.815,12","91.419.828,81","97.196.666,40","84.744.298,49","66.032.184,30","34.321.087,03","13.607.659.838,27"
16,31 Minas Gerais,-,-,-,-,-,-,-,-,-,...,"225.270.555,83","216.383.028,31","209.148.368,56","222.300.157,90","209.800.599,55","228.100.016,47","216.082.730,78","178.930.809,27","89.499.683,35","28.740.666.607,88"
17,32 Espírito Santo,-,-,-,-,-,-,-,-,-,...,"43.226.984,18","40.344.009,00","39.286.527,60","41.023.891,99","38.198.056,48","41.576.107,27","39.377.515,16","32.846.644,75","16.630.059,64","4.996.635.723,87"
18,33 Rio de Janeiro,-,-,-,-,-,-,-,-,-,...,"132.952.839,20","125.403.561,99","119.919.274,06","125.351.624,45","112.879.820,43","123.235.922,60","113.767.297,88","96.747.362,37","45.599.827,60","14.957.887.913,60"
19,35 São Paulo,40243.16,11449.99,34583.77,68556.52,39809.34,19904.67,19904.67,34532.40,23374.12,...,"385.374.458,64","372.199.641,41","363.664.832,51","397.238.888,73","380.600.275,32","405.238.898,93","405.415.546,71","357.246.934,02","201.122.009,15","56.551.125.709,88"
20,41 Paraná,-,-,-,-,-,-,-,-,-,...,"156.810.366,15","157.208.263,16","147.082.193,94","160.622.546,08","156.350.201,45","167.688.877,25","154.184.685,67","127.199.121,21","65.476.078,99","20.598.808.524,89"
21,42 Santa Catarina,-,-,-,-,-,-,-,-,-,...,"91.829.268,43","89.913.499,58","86.652.924,17","108.845.317,14","111.565.393,23","116.528.753,76","115.840.578,79","91.637.957,49","43.606.872,72","11.369.959.686,44"
22,43 Rio Grande do Sul,-,-,-,-,-,-,-,-,-,...,"119.824.136,65","116.462.635,01","111.635.041,84","120.372.550,76","110.113.378,72","120.372.124,21","114.128.856,86","77.476.354,15","35.718.466,55","17.346.088.601,04"
23,50 Mato Grosso do Sul,-,-,-,-,-,-,-,-,-,...,"27.891.418,14","26.611.525,43","25.566.332,10","26.527.245,91","24.759.319,47","24.491.655,05","17.594.222,58","10.302.963,97","3.646.625,49","3.351.285.216,96"
24,51 Mato Grosso,-,-,-,-,-,-,-,-,-,...,"22.995.454,30","23.435.504,35","22.223.573,01","22.716.136,68","23.044.436,85","23.311.259,77","22.341.470,01","16.971.852,55","8.865.991,19","3.113.093.916,54"
25,52 Goiás,-,-,-,-,-,-,-,-,-,...,"50.686.359,90","51.656.758,52","47.708.187,65","49.939.313,00","46.611.854,37","53.782.625,22","47.946.449,59","40.085.222,73","20.402.629,55","6.950.180.003,94"
26,53 Distrito Federal,-,-,-,-,-,-,-,-,-,...,"30.187.348,58","30.333.611,10","28.496.571,04","32.489.750,27","30.483.598,45","32.893.309,19","30.192.534,69","26.884.393,81","16.034.609,37","3.705.443.213,86"

##### **Observação:**
Há uma ausência de dados nos anos iniciais, que começa em 1992 e depois aumenta a quantidade dos dados gradativamente. Foi registrado nos campos de valores que possam ser ausentes, uma caracter especial `-` para indicar a ausência. Já no coluna de Unidade da Federação, existe dígitos númericos que se referem regiões do Brasil, mas que tonam-se redundantes, visto que a informação já está contida no nome da Unidade da Federação.

In [49]:
# Exibir informações do DataFrame
df_atendimento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Columns: 326 entries, Unidade da Federação to Total
dtypes: float64(204), object(122)
memory usage: 68.9+ KB

##### **Observação:** 
existe uma discrepância como os tipos de dados estão distribuídos no DataFrame. É possível perceber um desbalanceamento de tipos de dados, pois existe uma única coluna categórica "Unidade da Federação", que deveria ser do tipo `object` (string), enquanto as demais colunas deveriam ser do tipo `float64`, representando dados quantitativos. No entanto, temos 121 colunas que estão erroneamente classificadas como `object`. Essa discrepância pode impactar a precisão e eficácia da análise de dados, pois colunas que deveriam ser processadas como numéricas não estão sendo tratadas corretamente. Para garantir a integridade da análise, é essencial realizar uma limpeza dessas colunas, identificar os valores problemáticos e converter as colunas para o tipo `float64`.

In [50]:
# Exibir os tipos de dados do DataFrame
df_atendimento.dtypes.to_frame('Tipos de Dados')

                     Tipos de Dados
Unidade da Federação         object
1992/Mar                     object
1992/Abr                     object
1993/Mai                     object
1993/Dez                     object
...                             ...
2024/Mar                    float64
2024/Abr                    float64
2024/Mai                    float64
2024/Jun                    float64
Total                       float64

[326 rows x 1 columns]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]

In [58]:
# Verificar se há valores nulos
df_atendimento.isnull().sum()

Unidade da Federação    0
1992/Mar                0
1992/Abr                0
1993/Mai                0
1993/Dez                0
                       ..
2024/Mar                0
2024/Abr                0
2024/Mai                0
2024/Jun                0
Total                   0
Length: 326, dtype: int64

In [60]:
# Verificar valores duplicados
df_atendimento.duplicated().sum()

np.int64(0)